FIREBASE_SERVICE_ACCOUNT_JSON_PATH=./firebase/your-firebase-adminsdk-file.json
FIREBASE_PROJECT_ID=your-firebase-project-id
GOOGLE_CLOUD_PROJECT_ID=your-firebase-project-id
SECRET_MANAGER_ENABLED=true
NODE_ENV=development