/* SLIDER CONTAINER */
.theme-slider {
  /*position: fixed;*/
  top: 20px;
  right: 20px;
  width: 60px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
  z-index: 50;
}

/* HIDE CHECKBOX */
.theme-slider input {
  display: none;
}

/* BACKGROUND TRACK */
.track {
  position: absolute;
  inset: 0;
  background: #d0d0d0;
  border-radius: 50px;
  transition: background 0.3s;
}

/* THE THUMB (CIRCLE) */
.thumb {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 26px;
  width: 26px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  color: #1a1a1a;
}

/* WHEN DARK MODE IS ON (checked) */
.theme-slider input:checked + .track {
  background: #000000; /* Black as fuck */
}

.theme-slider input:checked + .track .thumb {
  transform: translateX(28px);
  background: #111; /* dark circle */
  color: white; /* moon icon visible */
}
